<html>

<head>
  <meta charset="utf-8" />
  <!--To use Vue.js in an HTML page, simply insert the library file into it using
      the <script> tag.-->
  <script src="https://unpkg.com/vue@next"></script>
  <style type="text/css">
    .fade-leave-from{
      opacity: 1;
      background-color: #FFCCCC;
    }
    .fade-leave-to{
      opacity: 0;
      background-color: black;
    }
    .fade-leave-active{
      transition: all 2s; /*this equals to opacity 2s, background-color 2s*/
    }
    .fade-enter-from{
      opacity: 0;
      background-color: #FFCCCC;
    }
    .fade-enter-to{
      opacity: 1;
      background-color: black;
    }
    .fade-enter-active{
      transition: opacity 2s, background-color 2s;
    }
  </style>
</head>

<body>
  <div id="app"></div>
</body>

<script>
  
  var app = Vue.createApp({
    data(){
      return{
        show: true, //visible at start
        show2: true
      }
    },
    template : `
    <button @click="show=!show"> Produce the effect</button><br>

    <transition name="fade">
      <p v-if="show">
          Paragraph 1
      </p>
    </transition>

    <!--Producing an effect on several elements-->

    <button @click="show2=!show2"> Produce the effect</button>
    <transition-group name="fade">
      <p v-if="show2">
            Paragraph 1
      </p>
      <p v-if="show2">
            Paragraph 2
      </p>
    </transition-group>

      `,
  });

  var vm = app.mount("div#app");
</script>

</html>